In [33]:
print("하이")

하이

In [34]:
l = [1,2,3,4,5]
l.append(6)
l.pop(1)
len(l)#len(엘)

5

In [35]:
# for 변수명 i 반복할자료:
for i in l:
    print(i, end="💖" , file=open("a.txt", "a")) # 줄을바꾸지 말고, 한줄에 출력하기, a에 컨트롤+스페이스(무엇을 넣을지 알려줌)

In [36]:
list("안녕하세요")

['안', '녕', '하', '세', '요']

In [37]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
#1부터 10까지 출력하기
a = 0 #1부터10까지의 더한 값을 저장할 변수
for i in range(11):
    a = a + i
print(a)

55

In [39]:
#1부터 10까지 출력하기
a = 0 #1부터10까지의 짝수의 값을 저장할 변수
for i in range(0,11,2):
    a = a + i
print(a)

30

In [40]:
#1부터 10까지 출력하기
a = 0 #1부터10까지의 홀수의 값을 저장할 변수
for i in range(1,11,2):
    a = a + i
print(a)

25

In [41]:
sum(list(range(0,11,2)))

30

In [42]:
sum(list(range(11)))

55

In [43]:
max(list(range(11)))

10

In [44]:
min(list(range(11)))

0

In [47]:
while True: #조거에 따라 반복, 무한반복, 멈추고 싶을때 상단에 재시작 혹은 중단, 조건이 참(True)일때 반복, 특정조건에서 반복할때
    print("배고파")
    break
for _ in range(10): #자료에 따라 반복
    print("이것도 반복문")

배고파
이것도 반복문
이것도 반복문
이것도 반복문
이것도 반복문
이것도 반복문
이것도 반복문
이것도 반복문
이것도 반복문
이것도 반복문
이것도 반복문

In [48]:
10, 20

(10, 20)

In [49]:
data = 10,20 #출력물에 괄호, 이것이 tuple
data

(10, 20)

In [50]:
data = 1,2,3,4,5
data[2]

3

In [51]:
data = 1,
data

(1,)

In [53]:
data = 1,2,3,4,5,6 #튜플, 성적등 숫자가 바뀌면 안될 경우, 함수에서는 반드시 있어야 함
for i in data:
    print(i)

1
2
3
4
5
6

In [57]:
cars = ["기아", "현대", "BMW", "audi", "toyota"]
for car in cars:
    if car == "bmw": #==은 논리연사자로 같다,!=다르다
        print(car.upper())
    else:
        print(car.title()) #타이틀 앞자만 대문자

기아
현대
Bmw
Audi
Toyota

In [58]:
score = 90
score < 90

False

In [59]:
score = 90
score != 90

False

In [60]:
우리반학생 = ["길은호", "김응두","손은찬"]
"김응두" in 우리반학생 #우리반학생에 김응두가 있는가?, not in(없나),

True

In [61]:
True, False #첫글자 대문자 사용

(True, False)

In [62]:
game_over = True
if game_over == True: #이프는 참이 있어야 함, game_over가 true라면
    print("게임오버")
else:
    print("게임중")

게임오버

In [67]:
game_over = []
if game_over: #이프는 참이 있어야 함, game_over가 true라면
    print("게임오버")
else:
    print("게임중")

게임중

In [68]:
점수 = 90
#90점 이상은 상, 80점 이상은 중 나머지는 하
if 점수 >= 90:
    print("상")
else:
    if 점수 <90 and 점수 >=80: #이미90점 이상은 윗줄에서 걸러짐
        print("중")
    else:
        print("하")

상

In [70]:
점수 = 87
#90점 이상은 상, 80점 이상은 중 나머지는 하
if 점수 >= 90:
    print("상")
else:
    if 점수 >=80: #이미90점 이상은 윗줄에서 걸러짐
        print("중")
    else:
        print("하")

중

In [73]:
점수 = 79
#90점 이상은 상, 80점 이상은 중 나머지는 하
if 점수 >= 90:
    print("상")
elif 점수 >=80: #이미90점 이상은 윗줄에서 걸러짐
        print("중") #한칸만 뛰어도 맞음, 띄우는 칸의 갯수는 상관없음,나머지 아랫줄과는 줄만 맞으면 됨
else:
        print("하")

하

In [74]:
점수들 = [100,80,54,78,69,98,56,45] #반복할 경우
#90점 이상은 상, 80점 이상은 중 나머지는 하
for 점수 in 점수들:
 if 점수 >= 90:  
     print("상")
 elif 점수 >=80: #이미90점 이상은 윗줄에서 걸러짐
        print("중") #한칸만 뛰어도 맞음, 띄우는 칸의 갯수는 상관없음,나머지 아랫줄과는 줄만 맞으면 됨
 else:
        print("하")

상
중
하
하
하
상
하
하

In [6]:
나 = {
    "이름":"이호연",
    "학교":"청산고",
    "나이":46,
    "취미":["독서", "제빵", "영상"],
    0:"이것도 가능?",
    0:"중복키입니다."
    "애완동물":{
        "이름":"코코",
        "나이":9
    }
}

SyntaxError: invalid syntax (1739990683.py, line 8)

In [13]:
나 = {
    "이름":"이호연",
    "학교":"청산고",
    "나이":46,
    "취미":["독서", "제빵", "영상"],
    0:"이것도 가능?",
    }

In [14]:
del 나["이름"]
나

{'학교': '청산고', '나이': 46, '취미': ['독서', '제빵', '영상'], 0: '이것도 가능?'}

In [16]:
나.pop("나이")

46

In [18]:
for i in 나:
    print(i, 나[i]) #순서가 지켜지지 않음

학교 청산고
취미 ['독서', '제빵', '영상']
0 이것도 가능?

In [20]:
나.keys()#키만 추출
나.values() #값만 추출
나.items() #키와 값을추출
for item in 나.items():
    print(item)

('학교', '청산고')
('취미', ['독서', '제빵', '영상'])
(0, '이것도 가능?')

In [21]:
나.keys()#키만 추출
나.values() #값만 추출
나.items() #키와 값을추출
for k,v in 나.items():
    print(k,v)

학교 청산고
취미 ['독서', '제빵', '영상']
0 이것도 가능?

In [23]:
나.keys()#키만 추출
나.values() #값만 추출
나.items() #키와 값을추출
for k,v in 나.items():
    print(f"키는 {k}이고,값은 {v}이다")

키는 학교이고,값은 청산고이다
키는 취미이고,값은 ['독서', '제빵', '영상']이다
키는 0이고,값은 이것도 가능?이다

In [5]:
나[0]

'중복키입니다.'